:root {
  --branding-color: #fec40f;
  --primary-color: #2b4a39;
  --secondary-color: #ff6f0f;
  --heading-font-family: "Jura", serif;
  --default-font-family: "Chathura", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 38px;
  line-height: 1;
}

img {
  border: 5px solid var(--branding-color);
  border-radius: 10px;
}

.hero {
  text-align: center;
  color: white;
  background: var(--primary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 40px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
  opacity: 0.8;
}

.content-section {
  padding: 160px 20px;
  margin: auto 77px;
}

.content {
  margin: 30px;
}

.content-section h1 {
  font-size: 60px;
  line-height: 80px;
}

.content-section h2 {
  font-size: 25px;
  font-family: var(--default-font-family);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: bold;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  border: 3px solid;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: bold;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 995px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }

  .content-section {
    text-align: center;
    padding: 70px;
    margin: auto;
  }

  .content-section img {
    max-width: 300px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  .hero h2 {
    font-size: 42px;
  }

  .content-section {
    padding: 30px;
    margin: auto;
  }
}
