:root {
  --branding-color: #fec40f;
  --secondary-color: #2b4a39;
  --heading-font-family: "Jura", serif;
  --default-font-family: "Chathura", serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 38px;
  line-height: 1;
}

.hero {
  text-align: center;
  color: white;
  background: var(--secondary-color);
  padding: 160px 20px;
}

.hero p {
  font-size: 40px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 50px;
  opacity: 0.8;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: bold;
}

.btn-branding-outline {
  color: var(--branding-color);
  border-color: var(--branding-color);
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 28px;
  font-weight: bold;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 42px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
}
